.relogioNumero {
  background-color: #5d677c;
  box-shadow: 2px 2px 4px #2b2b2b inset;
  height: 4.5rem;
  display: flex;
  align-items: center;
  width: 3rem;
  padding: 8px 2px 8px 9px;
  border-radius: 10px;

  @media screen and (min-width: 1280px) {
    height: 8.2rem;
    width: 7rem;
    padding: 8px 0px 7px 25px;
  }
}

.relogioDivisao {
  height: 5.4rem;

  @media screen and (min-width: 1280px) {
    height: 11rem;
  }
}
