* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  justify-content: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  border: unset;
  background-color: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

/* body {
  display: flex;
  justify-content: center;
  font-family: "Manjari", sans-serif;
  color: #f0f0f0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
} */

#root {
  display: flex;
  justify-content: center;
  font-family: "Manjari", sans-serif;
  color: #f0f0f0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 4px; */
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
